<div class="about">
    <div class="h2">
        <span class="h1">About</span>
        <span class="h2">Base Stats</span>
        <span class="h2">Evolution</span>
        <span class="h2">Moves</span>
    </div>
    <div class="grade">
        <div class="frase">
            <p class="frase"> Species</p>
            <p class="frase2">Seed</p>
        </div>
        <div class="frase">
            <p class="frase"> Height</p>
            <p class="frase2">2´3.6" (0.70cm)</p>
        </div>
        <div class="frase">
            <p class="frase"> Weight</p>
            <p class="frase2">15.2 lbs (6.9kg)</p>
        </div>
        <div class="frase">
            <p class="frase"> Abilities</p>
            <p class="frase2">Overgrow, Chlorophyl</p>
        </div>
    </div>
    <div class="grade2">
        <div class="h3">
            <h2 class="h3">Breeding</h2>
        </div>
        <div class="frase">
            <p class="frase"> Gender</p>
            <p class="frase4">87.5%</p>
            <p class="frase4">12.5%</p>
        </div>

        <div class="frase">
            <p class="frase"> Egg Groups</p>
            <p class="frase3">Monster</p>
        </div>
        <div class="frase">
            <p class="frase"> Egg Cycle</p>
            <p class="frase3">Grass</p>
        </div>
    </div>
</div>